<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="task1.js">
    <title>Document</title>
</head>
<body>
<div class="convert_block_item">
    <input type="number" id="val" placeholder="введите сумму..."/>
    <select id="cur1">
        <option>USD</option>
        <option>EUR</option>
    </select>
</div>
<div class="convert_block_item">
    <div class="convert_result">= 00,000</div>
    <select id="cur2">
        <option>USD</option>
        <option>EUR</option>
    </select>
</div>
</body>
</html>