
.name, .acts {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forms {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

input {
    display: flex;
    width: 90%;
    height: 45px;
    padding: 5px;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #263238;
    border-radius: 10px;
    padding: 15px 42px;
    display: flex;
    margin: 20px;
    align-self: center;
}

.btn a {
    color: white;
}

.active {
    background-color: #34322f;
}

.disabled {
    background-color: #4a4950;
}

.highlight {
    border: 3px solid green
}

/*.parent{*/
/*    border: 3px solid sienna;*/
/*}*/
/*.first_child{*/
/*    border: 3px solid skyblue;*/

/*}*/
/*.last_child{*/
/*    border: 3px solid #88ff46;*/

/*}*/